KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/cpu/gdt.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/system.o \
$(ARCHDIR)/cpu/isrs.o \
$(ARCHDIR)/cpu/irq.o \
$(ARCHDIR)/cpu/timer.o \
$(ARCHDIR)/drivers/ps2.o \
